#one {
  padding-top: 1em;
  padding-right: 2em;
  padding-bottom: 30%;
  padding-left: 2em;
  background-color:#CEE5D0;
  position: absolute;
}
#two {
  padding-top: 3em;
  padding-right: 5em;
  padding-bottom: 30%;
  padding-left: 2em;
  background-color: #F7D59C;
  position: absolute;
}
#three {
  padding-top: 7em;
  padding-right: 6em;
  padding-bottom: 30%;
  padding-left: 2em;
  background-color: #F8F8F8;
  position: absolute;
}
